* {
    margin: 10;
}

body {
    background-image: linear-gradient(to right, rgba(138, 138, 138, 0.466),rgba(255, 153, 0, 0.308));
    object-fit: contain;
    min-height: auto;
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}

nav {
    text-align: center;
    margin: 25px 0 0 0;
}

a {
    margin: 0 25px 0 25px;
    color: rgb(0, 0, 131);
    font-size: x-large;
}

a:hover {
    color: red;
}

h1, h2 {
    text-align: center;
    color: rgba(3, 51, 114, 0.829);
}

p, ul {
    font-size: x-large;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

#main-photo {
    width: 325px;
    height: 325px;
    display: block;
    margin: 15px auto 15px auto;
    border-radius: 20px 75px 20px 75px;
}

/* This is for cell phones/small devices. */

@media only screen and (max-width: 500px) {
    .sm p, ul {
        font-size: 1.25rem;
    }

    .sm #main-photo {
        width: 225px;
        height: 225px;
    }
}